{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/loginSubmit.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}
{% block body %}
<div class="content">
    <form action="{{ path('signup-form') }}" method="post">
        <h1>S'inscrire</h1>
        <p>Inscrivez-vous avec votre compte afin d’avoir accès à toutes les fonctionnalités du site.</p>
        <div class="label-and-input">
            <label>Mail</label>
            <input type="mail" name="mail" placeholder="Votre mail...">
        </div>
        <div class="label-and-input">
            <label>Pseudo</label>
            <input type="text" name="pseudo" placeholder="Votre pseudo...">
        </div>
        <div class="label-and-input">
            <label>Mot de passe</label>
            <input type="password" name="password" placeholder="Votre mot de passe...">
        </div>
        <button type="submit" class="button">S'inscrire</button>
    </form>
</div>
{% endblock %}