{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/loginSubmit.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}
{% block body %}
<div class="content">
    <form action="{{ path('signup-form') }}" method="post">
        <input type="mail" name="mail" placeholder="Votre mail">
        <input type="text" name="pseudo" placeholder="Votre pseudo">
        <input type="password" name="password" placeholder="Votre mot de passe">
        <button type="submit" class="button">S'inscrire</button>
    </form>
</div>
{% endblock %}