<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ importmap() }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            <nav class="navbar">
                <div class="logo">
                    <img src="{{ asset('images/logo.png') }}" alt="Logo PixelPalette">
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="">Auteurs</a></li>
                        <li><a href="">Récent</a></li>
                    </ul>
                    <div class="search-bar">
                        <input type="text" placeholder="Rechercher...">
                        <button type="submit"><img src="{{ asset('images/magnifying_glass.png') }}"></i></button>
                    </div>
                    <div>
                        <a id="auth-buttons" href="">Connexion</a>
                        <a class="button" href="">Inscription</a>
                    </div>
                </div>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
