.container_landing{
    background-image: url('../images/home.jpg');
    background-size: cover;
    background-position: center; 
    width: 100%; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_landing{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
}

.content_landing p{
    color: #292929;
    width: 50%;
}

span{
    color: #132C86;
}

.content_landing h1{
    font-weight: 700;
    font-size: 55px;
}

.content_landing button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #132C86;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.content_landing button img{
    width: 17px;
    margin-right: 8px;
}

.galerie{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 100px;
    width: calc(100% - 100px * 2);
}

.galerie h2{
    margin-bottom: 20px;
}

.galerie .pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 15px;
}

.galerie .pictures .picture {
    position: relative;
}


.galerie .pictures img{
    width: 250px;
    max-height: 185px;
    margin: 15px 0px 15px 0px;
    transition: all 0.3s;
}

.galerie .pictures img:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.galerie .pictures .like {
    position: absolute;
    bottom: 5px;
    right: 10px;
    transition: all 0.3s;
}

.galerie .pictures .like img{
    width: 20px;
}

.galerie .pictures .picture:hover .like img {
    transform: scale(1.3); 
}
